<div id="header">
	<div id="formarrow"> <a id="formarrowcolor" href=""> < Back </a> </div>
  		<span id="head"> New Contact </span>
  	</div>
<form id="contactForm">
  <p> <input id="fname" placeholder="First Name" /> </p>
  <p> <input id="lname" placeholder="Last Name" /> </p>
  <p> <input id="email" placeholder="Email" /> </p>
  <p> <input id="phone" placeholder="Phone" /> </p>
  <p> <input id="city" placeholder="City" /> </p>
  <p> <input id="state" placeholder="State" /> </p>
  <p> <input id="picture" placeholder="Picture URL" /> </p>
  <div id="button"><a id="submitlink" href="">Submit</a></div>
</form> 
