<div id="singleheading">
	<div id="arrow"> <a id="arrowcolor" href=""> < Back </a> </div>
	<image id="singlepic" src="{{attributes.picture}}">
</div>
<div id="singleinfo">
	<div class="singlebox"> <i class="fa fa-user fa-2x"></i> <p class="singletext"> {{attributes.fname}} {{attributes.lname}} </p> </div>
	<div class="singlebox"> <i class="fa fa-envelope fa-2x"></i> <p class="singletext"> {{attributes.email}} </p> </div>
	<div class="singlebox"> <i class="fa fa-phone fa-2x"></i> <p class="singletext"> {{attributes.phone}} </p> </div>
	<div class="singlebox"> <i class="fa fa-globe fa-2x"></i> <p class="singletext"> {{attributes.city}}, {{attributes.state}} </p> </div>
</div>